# Server Configuration
PORT=5000
CLIENT_ORIGIN=http://localhost:5173

# Optional: Backblaze B2 Cloud Storage (S3-Compatible)
# If left empty, Filewhile will automatically use local server ephemeral disk storage!
B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_ENDPOINT=s3.us-east-005.backblazeb2.com
